<a href="https://colab.research.google.com/github/Ayush114131516/my_ML_projects/blob/main/book_recommend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
books=pd.read_csv('/content/books.csv')
ratings=pd.read_csv('/content/ratings.csv')
users=pd.read_csv('/content/users.csv')

<ipython-input-2-a7b20d319b2d>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('/content/books.csv')

In [ ]:
books.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...

In [ ]:
ratings.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726   155061224            5
2   276727   446520802            0

In [ ]:
users.head(3)

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [ ]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1048575, 3)

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1048575 non-null  int64
 1   ISBN         1048575 non-null  object
 2   Book-Rating  1048575 non-null  int64
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [ ]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [ ]:
print(books.isnull().sum())
print(users.isnull().sum())
print(ratings.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64
User-ID          0
Location         0
Age         110762
dtype: int64
User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [ ]:
df=ratings.merge(books,on='ISBN')
df.shape

(941112, 10)

In [ ]:
df.sample(5)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
932767,238781,373870620,0,Long-Awaited Wedding,Doris Elaine Fell,1999,Steeple Hill,http://images.amazon.com/images/P/0373870620.0...,http://images.amazon.com/images/P/0373870620.0...,http://images.amazon.com/images/P/0373870620.0...
182929,152742,449002632,0,London : The Novel,EDWARD RUTHERFURD,1998,Fawcett,http://images.amazon.com/images/P/0449002632.0...,http://images.amazon.com/images/P/0449002632.0...,http://images.amazon.com/images/P/0449002632.0...
145842,125039,590425919,0,White Fang,Jack London,1989,Apple Classics (Scholastic),http://images.amazon.com/images/P/0590425919.0...,http://images.amazon.com/images/P/0590425919.0...,http://images.amazon.com/images/P/0590425919.0...
496832,15418,749304723,9,The Star Diaries,Stanislaw Lem,1990,Mandarin,http://images.amazon.com/images/P/0749304723.0...,http://images.amazon.com/images/P/0749304723.0...,http://images.amazon.com/images/P/0749304723.0...
204150,88283,385335482,10,Confessions of a Shopaholic (Summer Display Op...,SOPHIE KINSELLA,2001,Delta,http://images.amazon.com/images/P/0385335482.0...,http://images.amazon.com/images/P/0385335482.0...,http://images.amazon.com/images/P/0385335482.0...

## Recommender System

In [ ]:
numdf=df.groupby('Book-Title').count()['Book-Rating'].reset_index()
numdf.rename(columns={'Book-Rating':'rating_count'},inplace=True)
numdf.head(3)

                                          Book-Title  rating_count
0   A Light in the Storm: The Civil War Diary of ...             4
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1

In [ ]:
avgdf=df.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avgdf.rename(columns={'Book-Rating':'rating_avg'},inplace=True)
avgdf.head(3)

<ipython-input-14-0e1fec1caf9c>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avgdf=df.groupby('Book-Title').mean()['Book-Rating'].reset_index()

                                          Book-Title  rating_avg
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00

In [ ]:
popularitydf=numdf.merge(avgdf,on='Book-Title')
popularitydf.head(3)

                                          Book-Title  rating_count  rating_avg
0   A Light in the Storm: The Civil War Diary of ...             4        2.25
1                              Always Have Popsicles             1        0.00
2               Apple Magic (The Collector's series)             1        0.00

In [ ]:
popularitydf.shape

(230220, 3)

In [ ]:
pop30df=popularitydf[popularitydf['rating_count']>=200].sort_values('rating_avg',ascending=False).head(30)
pop30df

,Book-Title,rating_count,rating_avg
76830,Harry Potter and the Goblet of Fire (Book 4),346,5.945087
76842,Harry Potter and the Prisoner of Azkaban (Book 3),380,5.884211
76849,Harry Potter and the Sorcerer's Stone (Book 1),244,5.737705
76834,Harry Potter and the Order of the Phoenix (Boo...,316,5.544304
57948,Ender's Game (Ender Wiggins Saga (Paperback)),226,5.340708
76822,Harry Potter and the Chamber of Secrets (Book 2),501,5.177645
182892,The Hobbit : The Enchanting Prelude to The Lor...,261,4.969349
76853,Harry Potter and the Sorcerer's Stone (Harry P...,519,4.938343
201839,"The Two Towers (The Lord of the Rings, Part 2)",245,4.914286
178857,The Fellowship of the Ring (The Lord of the Ri...,340,4.885294
209806,To Kill a Mockingbird,463,4.684665
175236,The Da Vinci Code,828,4.679952
172364,The Catcher in the Rye,401,4.615960
197170,The Secret Life of Bees,704,4.558239
122828,Neverwhere,237,4.556962
179343,The Five People You Meet in Heaven,392,4.543367
137591,Prodigal Summer: A Novel,228,4.478070
187414,The Lovely Bones: A Novel,1164,4.457045
13983,Animal Farm,206,4.436893
727,1984,259,4.393822
26128,Brave New World,203,4.369458
182870,The Hitchhiker's Guide to the Galaxy,252,4.361111
161045,Stupid White Men ...and Other Sorry Excuses fo...,264,4.337121
195141,The Red Tent (Bestselling Backlist),668,4.326347
213071,"Tuesdays with Morrie: An Old Man, a Young Man,...",437,4.274600
89200,Into the Wild,229,4.262009
123500,Nickel and Dimed: On (Not) Getting By in America,303,4.244224
61069,Fahrenheit 451,372,4.239247
199759,"The Subtle Knife (His Dark Materials, Book 2)",206,4.213592
71406,Girl with a Pearl Earring,486,4.197531

In [ ]:
pop30df=pop30df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Year-Of-Publication','Image-URL-L','rating_count','rating_avg']]
pop30df.head(5)

,Book-Title,Book-Author,Year-Of-Publication,Image-URL-L,rating_count,rating_avg
0,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,http://images.amazon.com/images/P/0439139597.0...,346,5.945087
2,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,http://images.amazon.com/images/P/0439136350.0...,380,5.884211
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,http://images.amazon.com/images/P/0590353403.0...,244,5.737705
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,http://images.amazon.com/images/P/043935806X.0...,316,5.544304
13,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1992,http://images.amazon.com/images/P/0312853238.0...,226,5.340708

In [ ]:
df2=df.groupby('User-ID').count()['Book-Rating']

x=df2[df2>=200].index #boolean indexing

filtered=df[df['User-ID'].isin(x)]

In [ ]:
y=filtered.groupby('Book-Title').count()['Book-Rating']>=50
famous_books=y[y].index
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Moon', 'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wuthering Heights', 'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=604)

In [ ]:
final=filtered[filtered['Book-Title'].isin(famous_books)].drop_duplicates()

In [ ]:
table=final.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating').fillna(0)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
score_of_similarity=cosine_similarity(table)

Steps:

In [ ]:
np.where(table.index=='2nd Chance')[0][0]

2

In [ ]:
sorted(list(enumerate(score_of_similarity[0])),key=lambda x:x[1],reverse=True)[1:5]

[(41, 0.27779439320159416),
 (70, 0.2660586000369668),
 (542, 0.2506295364129756),
 (460, 0.23786512783485836)]

THE Function

In [ ]:
def recommend(book_name):
  index=np.where(table.index==book_name)[0][0]
  similar_books=sorted(list(enumerate(score_of_similarity[index])),key=lambda x:x[1],reverse=True)[1:5]

  for i in similar_books:
    print(table.index[i[0]])

In [ ]:
recommend('Message in a Bottle')

Nightmares &amp; Dreamscapes
Nights in Rodanthe
A Walk to Remember
The Mulberry Tree

In [ ]:
recommend('1984')

Animal Farm
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Handmaid's Tale